h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #ffffff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*--------------- MOBILE STYLES------------*/

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
        margin: 0 auto;
    }
}

/* ----------------- HEADER MOBILE STYLES -----------------*/

.menu,
.contacts {
    display: none;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    padding: 24px 0;
    display: flex;
}


.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}



.logotype-span-studio {
    color: #2e2f42;
}

.mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}


/* ----------------- HERO MOBILE STYLES ----------------*/


.section-solutions {
    padding: 72px 0;
    background-color: #2e2f42;
}

.background-img {
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/mobile-people-office.jpg);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .background-img {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mobile-people-office@2x.jpg);
    }
}

.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 288px;
    margin: 0 auto;
    margin-bottom: 72px;
    font-style: normal;
}

.order-btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    letter-spacing: 0.64px;
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404bbf;
}


/* ------------------ADVANTAGES MOBILE STYLES ---------------- */


.advantages-icon-list {
    display: none;
}

.advantages {
    padding: 96px 0;
}

.advantages-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
}


.advantages-list-header {
    color: #2e2f42;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-item-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


/* ----------------TEAM MOBILE STYLES ---------------- */

.section-team {
    background-color: #f4f4fd;
}

.section-team {
    padding: 96px 0;
}

.team-list-item {
    padding: 32px 0;
    background-color: #ffffff;
}

.section-team-item-list {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.section-team-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.section-team-profs {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-links {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.section-team-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-links:hover,
.section-team-links:focus {
    background-color: #404bbf;
}

.section-team-icon {
    fill: #f4f4fd;
}


/* ------------------Portfolio MOBILE STYLES ----------------- */

.overlay-portfolio-form {
    position: relative;
    overflow: hidden;
}

.portfolio-item-overlay-text {
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    background-color: #4d5ae5;
    padding: 40px 32px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.overlay-portfolio-form:hover .portfolio-item-overlay-text {
    transform: translateY(0);
}

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}

.portfolio-header {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio {
    padding: 96px 0;
}

.portfolio-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-list:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}



/* ------------------ FOOTER MOBILE STYLES ----------------- */
.footer {
    background-color: #2e2f42;
    padding-top: 97.5px;
    padding-bottom: 96px;
}

.footer-social-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 17.5px;
}

.logotype-span-studio-footer {
    color: #f4f4fd;
}

.section-team-footer-text {
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 288px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

input::placeholder {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-btn {
    display: inline-flex;
    min-width: 165px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

.footer-icon-send {
    margin-left: 16px;
    fill: #ffffff;
}



/* ------------------BACKDROP MOBILE STYLES ----------------- */


.overlay-backdrop {
    position: fixed;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}

.is-open {
    visibility: visible;
}

.form-modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 16px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
    position: absolute;
    display: flex;
    background-color: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    background-color: #404bbf;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    fill: #2e2f42;
}

.close:hover .close-btn,
.close:focus .close-btn {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    color: #2e2f42;
    width: 256px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.form-conteiner {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-lable {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input-conteiner {
    position: relative;
}

.input-items {
    padding: 11px 0;
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline-color: transparent;
    background-color: transparent;
    outline-offset: 5px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input-items:focus+.input-icon {
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
    border-color: #4d5ae5;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-items:focus {
    border-color: #4d5ae5;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.textarea-container {
    margin-bottom: 16px;
}

.text-comment::placeholder {
    position: absolute;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    top: 8px;
    left: 16px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.custom-checkbox:checked+.name-checkbox>.icon-checkbox {
    fill: #f4f4fd;
    border: none;
    background-color: #404bbf;
}

.name-checkbox {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
}

.icon-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    cursor: pointer;
}

.link-privacy {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.send-btn {
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404bbf;
}


/* ----------------- BACKDROP TABLET AND DESCTOP STYLES ------------------ */


@media screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

    .form-modal {
        width: 408px;
        min-height: 584px;
    }

    .form-title {
        width: 360px;
    }

    .background-img {
        max-width: 1440px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/desctop-people-office.jpg);
    }

    .link-footer {
        display: inline-block;
    }
}

/* ------------------ /BACKDROP TABLET AND DESCTOP STYLES ------------------ */

/* ------------------< MAX MOBILE MAX >  ------------------ */


@media screen and (max-width: 767px) {

    /* ---------- mobile FORM MOBILE --------- */

    .mobile-menu {
        position: fixed;
        padding: 72px 24px 40px 16px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999;
        background-color: #ffffff;
        transform: translateX(100%);
        transition: transform 250ms linear;
        display: flex;
        flex-direction: column;
    }

    .mobile-menu.is-open-mobile {
        transform: translateX(0%);
    }

    .mobile-nav {
        margin-bottom: auto;
    }

    .contacts-mobile {
        font-style: normal;
        font-size: 20px;
    }

    .mobile-links {
        color: #2e2f42;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
    }

    .menu-mobile-list-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .contacts-mobile-list-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .contacts-mobile-item-link:hover,
    .contacts-mobile-item-link:focus {
        color: #4d5ae5;
    }

    .active-mobile {
        position: relative;
        color: #404bbf;
    }

    .mobile-links:hover,
    .mobile-links:focus {
        color: #4d5ae5;
    }

    .mobile-social-links {
        margin-top: 48px;
        display: flex;
        gap: 40px;
    }

    .close-mobile {
        position: absolute;
        top: 24px;
        right: 24px;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: transparent;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 0;
        line-height: 0;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .close-mobile:hover,
    .close-mobile:focus {
        background-color: #404bbf;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link {
        color: #2e2f42;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    /* ------------------ TEAM < MAX > MOBILE STYLES ------------------ */
    .section-team-item {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }

    /* ------------------ TEAM < MAX > MOBILE STYLES ---------------- */


    /* ------------------PORTFOLIO < MAX > MOBILE STYLES ------------------*/
    .portfolio-item {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    /* ------------------PORTFOLIO < MAX >  MOBILE STYLES ---------------- */



    /* ------------------FOOTER  < MAX >  MOBILE STYLES -----------------*/


    .section-team-footer-text {
        color: #f4f4fd;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
        margin: 0 auto;
    }

    .footer-info {
        margin-bottom: 72px;
    }

    .footer-social-title {
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
        text-align: center;
    }

    .social-media {
        margin-bottom: 72px;
    }

    .footer-form-subscribe {
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 8px 0;
        padding-left: 16px;
        background-color: transparent;
        color: #ffffff;
        width: 288px;
        height: 40px;
        outline: none;
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 1.5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        margin-bottom: 16px;
    }

    .footer-sub {
        text-align: center;
    }

    .footer-social-links {
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .link-footer {
        display: block;
        text-align: center;
    }

}

/* ------------------ </MAX MOBILE MAX>  -----------------*/

/* ------------------ < MAX TABLET MAX > ------------------ */


@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .back-img {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet-people-office@2x.png);
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .background-img {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet-people-office.png);
    }

    .contacts-list-item:not(:last-child) {
        margin-bottom: 12px;
    }

    /* ------------------ADVANATAGES < MAX > TABLET STYLES ------------------ */


    .advantages-list-header {
        text-align: start;
    }

    .advantages-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .advantages-item-text {
        width: 356px;
    }

    .advantages-item-list {
        width: calc((100%-24px) / 2);
    }

    /* ----------------- ADVATAGES < MAX > TABLET STYLES ---------------- */

    /* ---------------- TEAM < MAX > TABLET STYLES ----------------- */

    .section-team {
        padding: 96px 0;
    }

    .section-team-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }

    .section-team-item-list {
        width: calc((100%-24px) / 2);
    }

    /* ----------------FOOTER < MAX > TABLET STYLES --------------- */



    .section-team-footer-text {
        color: #f4f4fd;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 264px;
    }

    .footer-form-subscribe {
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 8px 0;
        padding-left: 16px;
        background-color: transparent;
        color: #ffffff;
        width: 264px;
        height: 40px;
        outline: none;
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 1.5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        margin-right: 24px;
    }

    .footer-sub {
        display: flex;
    }

    .footer-social-links {
        display: flex;
        gap: 16px;
    }

    .footer-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
    }


}



/* ------------------HEADER TABLET STYLES ------------------ */



@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .menu {
        display: flex;
        column-gap: 40px;
    }

    .logotype-span-studio {
        margin-right: 106px;
    }

    .page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-wrapper {
        display: flex;
        align-items: center;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .contacts {
        display: inline;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-style: normal;
        font-size: 12px;
        line-height: 1.16;
    }

    .contacts-item-link {
        color: #434455;
    }

    .contacts-item-link:hover,
    .contacts-item-link:focus {
        color: #404bbf;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-open-btn {
        display: none;
    }

    .menu-link {
        color: #2e2f42;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .active {
        position: relative;
        color: #404bbf;
    }

    .active::after {
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        background-color: #404bbf;
        border-radius: 2px;
        bottom: -1px;
        display: block;
        content: '';
    }

    .header-link {
        padding: 24px 0;
    }


    /* ------------------ HERO TABLET STYLES ------------------ */


    .section-solutions {
        padding: 112px 0;
    }

    /* ------------------ PORTFOLIO TABLET STYLES / ------------------ */


    .portfolio-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item-list {
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

/* DESKTOP ---------------------- DESKTOP -------------------- DESKTOP */


@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        margin: 0 auto;
    }

    /* ------------------ HEADER DESCTOP STYLES ----------------- */


    .contacts-list {
        display: flex;
        gap: 40px;
    }

    .contacts {
        font-size: 16px;
    }


    /* ------------------ SOLUTION DECKTOP STYLES ------------------ */


    .section-solutions {
        padding: 188px 0;
    }

    .background-img {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/desctop-people-office.jpg);
    }

   
    /* ------------------ADVANTAGES DECKTOP STYLES ------------------ */
    .advantages {
        padding: 120px 0;
    }

    .advantages-list-header {
        text-align: start;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .advantages-item {
        display: flex;
        gap: 24px;
    }

    .advantages-item-list {
        width: calc((100% - 72px) / 4);
    }

    .advantages-icon-list {
        display: flex;
        gap: 24px;
        margin-bottom: 8px;
    }

    .advantages-item-text {
        font-weight: 400;
    }

    .advantages-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 100px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background: #f4f4fd;
        height: 112px;
        margin-bottom: 8px;
    }


    /* ------------------ TEAM DESKTOP STYLES ------------------ */
    .section-team {
        padding: 120px 0;
    }

    .section-team-item {
        display: flex;
        gap: 24px;
    }


    /* ----------------- PORTFOLIO DESKTOP STYLES -----------------*/

    .portfolio-item-list {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio {
        padding: 120px 0;
    }

    /* ------------------ FOOTER DESKTOP STYLES ------------------=== */
    .footer {
        padding: 100px 0;
    }

    .section-team-footer-text {
        max-width: 264px;
    }

    .footer-info {
        margin-right: 120px;
    }

    .footer-item {
        display: flex;
        align-items: baseline;
    }

    .social-media {
        margin-right: auto;
    }

    .footer-social-links {
        display: flex;
        gap: 16px;
    }

    .footer-icon-send {
        margin-left: auto;
    }

    .footer-form-subscribe {
        border: 1px solid #ffffff;
        border-radius: 4px;
        padding: 8px 0;
        padding-left: 16px;
        background-color: transparent;
        color: #ffffff;
        width: 264px;
        height: 40px;
        outline: none;
        font-size: 12px;
        letter-spacing: 0.04em;
        line-height: 1.5;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }

    /* ------------------ FOOTER DESKTOP STYLES -----------------*/
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
    .back-img {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/tablet-people-office@2x.png);
    }
}