body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.list {
    list-style: none;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.accent-color {
    color: #E7E9FC;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*---------------HEADER STYLES-----------------*/

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.span-logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logotype-link {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    color: #4d5ae5;
    
}

.header-list-link {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-list-link:hover,
.header-list-link:focus,
.navadress-links:hover,
.navadress-links:focus {
    color: #404bbf;
}

.header-list-item .link.underline {
    color: #404BBF;
}

.header-list-item .link.underline::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
}

/*display: block;
    background-color: #404bbf;
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    transform: translateY(21px);
    border-radius: 2px;*/

.header-list-item .link {
    color: #2E2F42;
}

.header-list-item .link {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
}

.navadress-list .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
}

.link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
}

.address-header {
    font-style: normal;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.navadress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list-link {
    padding: 24px 0;
}

/*---------------1 SECTION---------EFFECTIVE SOLUTIONS STYLES-------------------*/

.section-solutions {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    padding: 188px 0;
    margin: 0 auto;

}

.section-advantages {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    flex-shrink: 0;
}


.solutions-title {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
}

.order-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
    background-color: #404BBF;
}

.order-button:focus {
    background-color: #404BBF;
}

.order-button {
    cursor: pointer;
}


/*---------------2 SECTION---------ADVANTAGES STYLES-----------------*/

.section-advantages {
    background: #FFFFFF;
    padding: 120px 0;
}

.icon-container {
    display: flex;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    background: #F4F4FD;
    align-items: center;
    justify-content: center;
}

.icon {
    flex-shrink: 0;
    height: #4d5ae5, #2e2f42;
    margin-left: 100px;
    margin: 24px;
}

.advantages-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 0px;
    margin-bottom: 8px;
}

.advantages-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list-item {
    width: calc((100% - 72px) / 4);
}

/*-----------3 SECTION-----OUR TEAM--------------------*/

.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;

}

.team-title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
    text-align: center;
    flex-shrink: 0;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background: var(--WHITE, #fff);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.team-names {
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.team-name-container {
    padding: 32px 0;
}

.team-profs {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-media {
    margin-right: auto;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.circle {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle .icon {
    fill: #f4f4fd;
}

.circle:hover,
.circle:focus {
    background-color: #404bbf;
}

.social-links-item {
    width: 40px;
    height: 40px;
}

.team-icon {
    width: 16px;
    height: 16px;

}

/*.social-links {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf;
}
*/

/*-----------------4 SECTION-----OUR PORTFOLIO-----------------*/

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.portfolio-list-item .overlay .portfolio-item-overlay-text {
    /*background: var(--WHITE, #FFF);
    width: calc((100% - 48px) / 3);*/
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfoliÐ¾-item-container {
    position: relative;
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;

}

.portfolio-list-item {
    position: relative;
    overflow: hidden;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio-stuff {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list-item .overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .overlay .portfolio-item-overlay-text {
    transform: translateY(0%);
}



/*-----------------FOOTER-----------------*/

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.logotype-span-studio-footer {
    color: #f4f4fd;
}

.logotype-footer {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer-info {
    margin-right: 120px;

}

.link-footer {
    display: inline-block;
}

.footer-item {
    display: flex;
    align-items: baseline;
}

.footer-social-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-links {
    display: flex;
    gap: 16px;
    margin-right: 80px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover,
.footer-links:focus {
    background-color: #31d0aa;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-icon-subscribe {
    margin-left: auto;
}

.subscribe {
    display: flex;
    flex-direction: column;
}

.footer-sub {
    display: flex;
    gap: 24px;
}

.footer-form-subscribe {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 8px 0;
    padding-left: 16px;
    background-color: transparent;
    color: #ffffff;
    width: 264px;
    height: 40px;
    outline: none;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

input::placeholder {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-btn {
    display: inline-flex;
    min-width: 165px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    letter-spacing: 0.64px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
    background-color: #404bbf;
}

/*-----------------MODAL WINDOW-----------------*/

.overlay-backdrop {
    position: fixed;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}

.is-open {
    visibility: visible;
}

.form-modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
    position: absolute;
    display: flex;
    background-color: #e7e9fc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 24px;
    right: 24px;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    background-color: #404bbf;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    fill: #2e2f42;
}

.close:hover .close-btn,
.close:focus .close-btn {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    color: #2e2f42;
    width: 360px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.form-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-conteiner {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-lable {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input-conteiner {
    position: relative;
}

.input-items {
    padding: 11px 0;
    padding-left: 38px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline-color: transparent;
    background-color: transparent;
    outline-offset: 5px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input-items:focus+.input-icon {
    fill: #4d5ae5;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
    border-color: #4d5ae5;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-items:focus {
    border-color: #4d5ae5;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.textarea-container {
    margin-bottom: 16px;
}

.text-comment::placeholder {
    position: absolute;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    top: 8px;
    left: 16px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.custom-checkbox:checked+.name-checkbox>.icon-checkbox {
    fill: #f4f4fd;
    border: none;
    background-color: #404bbf;
}

.name-checkbox {
    color: #8e8f99;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-weight: 400;
}

.icon-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    cursor: pointer;
}

.link-privacy {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.send-btn {
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404bbf;
}